html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Karma, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

article {
  border: 3px solid #987ffa;
  border-radius: 6px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

article > img {
  max-width: 15em;
  margin-bottom: 1.5rem;
}

h2 {
  font-family: Oswald, sans-serif;
  color: #6f00e7;
  font-size: 2rem;
  font-weight: bold;
  margin: .25em;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-self: stretch;
  align-items: center;
}

li:nth-child(3), li:nth-child(2) {
  padding: 0 .25em;
}

li:nth-child(2) {
  margin-left: auto;
}

ul li:first-child a {
  text-decoration: none;
  font-family: Oswald, sans-serif;
  color: #fff;
  background-color: #6f00e7;
  border-radius: 3em;
  padding: .5em 1.5em .7em;
  align-self: flex-start;
}

ul li a {
  display: flex;
  align-items: center;
}

ul li a img {
  margin-right: .25em;
}

p {
  margin: 0 0 1.5rem;
  padding-bottom: 1rem;
  text-align: center;
  align-self: center;
  font-size: 1.4rem;
}
